services:
  # Sadece bizim API uygulamamız çalışacak
  api:
    build: .
    container_name: glasses-backend
    ports:
      - "3000:3000"
    # .env dosyasındaki ayarları (Firebase/GA4 anahtarları) içeri aktar
    env_file:
      - ./.env
    environment:
      - PORT=3000
      - NODE_ENV=development
    volumes:
      # Kod değişikliklerini anlık yansıtmak için
      - .:/app
      - /app/node_modules
    command: npm run dev
    networks:
      - eyewear-net

networks:
  eyewear-net:
    driver: bridge